*
    {   margin: 0;
        box-sizing: border-box;
        
    }

body
    {   padding: 15rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        min-height: 100px;
        background-color: rgb(9, 114, 114);
    }
button
    {   height: 50px;
        width: 800px;
        color: rgb(7, 7, 146);
        background-color: rgb(15, 192, 192);
        font-family: 'Cinzel', serif;
        font-size: 12.5px;
        font-weight: 900;
    }
 #conta
    {
       color: aquamarine;
        padding: 1rem;
        font-family: 'Eater', cursive;
        font-size: 50px;
    }
.botoes
    {   
        width: 25rem;
        display:flex;
        align-items:center;
        justify-content: center;   
    }
.tudo
    {
        background-color: rgb(15, 192, 192) ;
        display: flex;
        align-items: center;
        flex-direction: column;
        border: 3px solid rgb(244, 227, 227);
    }
#mostrador
    {
        font-size: 200px;
        
    }   
#mostrador:hover
    { 
        color: aquamarine;
        transition-duration: 2000ms;
    }

button:hover
    {   color: aquamarine;
        background-color: black;
        transition: 900ms;
        cursor: pointer; 
    }
.tudo:hover
    {
        color: aquamarine;
        background-color: black;
        transition: 900ms;
      
    }